body{
    font-family: Poppins;
    margin: 0;
}

main {
    background-color: #000042;
    color: #ffffff;
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: Poppins;
    text-align: center;
    clip-path: url(#curved-bottom);
    min-height: wrap-content;
    padding-bottom: 120px;
}
header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    color: #ffffff;
    align-items: center;
    padding: 10px 75px;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Poppins;
}
header img {
    max-width: 150px;
    height: auto;
}
header ul {
    display: flex;
    list-style: none;
    max-width: 60%;
    gap: auto;
}
header li {
    margin: 0 10px;
    position: relative;
}
header li a {
    text-decoration: none;
    display: block;
    position: relative;
    padding-bottom: 5px;
    color: white;
}
header li a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
header li a:hover::after,
header li a:focus::after {
  width: 80%;
}
.btnheader {
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    line-height: 41px;
    text-decoration: none;
}
.btnheader:hover {
    font-weight: bolder;
    border: 1px solid white;
    border-radius: 5px;
    width: 90px;
    height: 40px;
    color: #000042;
    background-color: #ffffff;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    line-height: 41px;
    transition-duration: 0.5s;
    transform: scale(1.2);
}
main section {
    margin-top: 70px;
}
main section img {
    width: 50px;
    height: auto;
}
.info {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 40px;
}
.info div {
    display: block;
}

#form {
    width: fit-content;
    height: auto;
    background-color: #000042;
    color: #ffffff;
    border-radius: 0px 0px 10px 10px;
    padding: 30px 30px 40px 30px;
    margin: 0 auto;
    margin-top: -30px;
}
#form label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}
#form input {
    border: 1px solid white;
    border-radius: 5px;
    height: 30px;
    margin-bottom: 20px;
    width: 400px;
    padding: 2px 5px;
    font-family: Poppins;
}
#form textarea {
    border: 1px solid white;
    border-radius: 5px;
    height: 60px;
    margin-bottom: 20px;
    width: 400px;
    padding: 5px 5px;
    font-family: Poppins;
}
input:focus, textarea:focus {
    outline: none;
}
#form button {
    background-color: #ffffff;
    border: none;
    color: #000042;
    width: auto;
    font-family: Poppins;
    border-radius: 10px;
    width: 413px;
    height: 40px;
    cursor: pointer;
    display: block;
}

#social {
    text-align: center;
    justify-content: center;
    color: #000042;
    padding: 100px 300px 50px 300px;
}
#social div {
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 10px;
}
#social div img {
    display: block;
    width: 40px;
    height: auto;
}

footer {
    color: white;
    background-color: #000042;
    text-align: center;
    margin-top: 100px;
    padding: 50px 100px 10px 100px;
}
footer h1 {
    color: lawngreen;
    margin: 0;
}
footer img {
    width: 300px;
    height: 150px;
    border: 2px solid lawngreen;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5) ;
}
footer img:hover {
    border: none;
    transform: translateX(-5px) translateY(-5px);
    transition-duration: 0.5s;
}
footer div {
    display: flex;
    margin-left: auto;
    justify-content: center;
    gap: 30px;
}

